@using Lab4.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>User Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">User ID</dt>
                <dd class="col-sm-8">@Model.UserId</dd>

                <dt class="col-sm-4">First Name</dt>
                <dd class="col-sm-8">@Model.UserFirstName</dd>

                <dt class="col-sm-4">Last Name</dt>
                <dd class="col-sm-8">@Model.UserLastName</dd>

                <dt class="col-sm-4">Username</dt>
                <dd class="col-sm-8">@Model.UserName</dd>

                <dt class="col-sm-4">Email</dt>
                <dd class="col-sm-8">@Model.Email</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Address Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Street</dt>
                <dd class="col-sm-8">@Model.Street</dd>

                <dt class="col-sm-4">City</dt>
                <dd class="col-sm-8">@Model.City</dd>

                <dt class="col-sm-4">Postal Code</dt>
                <dd class="col-sm-8">@Model.PostalCode</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Role Information</h4>
            <hr />
            <p>@Model.Role</p>
        </div>
    </div>
</div>
